<%- include('head.ejs')%>
<%- include('navbar.ejs')%>
<div class="container my-4">
    <%- include('F-navbar.ejs')%>
</div>
<!--porducts-->
<section class="product">
    <div class="container">
        <div class="d-flex">
            <h3 class="font-weight-bold"><%=result[0].title%></h3>
        </div>
        <div class="row holepr px-0 rounded">
            <div class="col-lg-12 position-relative">
                <div class="">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src=https://res.cloudinary.com/dad10qyqd/image/upload/v1633754817/images/Phones/<%=result[0].img%>.<%=result[0].img.split(".")[1]%>  class="d-block w-100 p-5" alt="...">
                        </div>
                        <div class="col-lg-4 d-flex">
                            <div class="w-75 m-auto">
                                <div class="border my-3 rounded px-3 py-1">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="far fa-3x fa-calendar-alt"></i>
                                        </div>
                                        <div class="col-8">
                                            <p class="m-0">Released</p>
                                            <p class="m-0"><%=result[0]['data'][1]['Launch'][0]['Announced']%></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="border my-3 rounded px-3 py-1">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="fas fa-3x fa-expand"></i>
                                        </div>
                                        <div class="col-8">
                                            <p class="m-0">Display</p>
                                            <p class="m-0"><%=result[0]['data'][3]['Display'][2]['Resolution']%></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="border my-3 rounded px-3 py-1">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="fas fa-3x fa-camera"></i>
                                        </div>
                                        <div class="col-8">
                                            <p class="m-0">Camera</p>
                                            <p class="m-0"><%=result[0]['data'][6]['Main Camera'][0]['Triple'].split(",")[0]%></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="border my-3 rounded px-3 py-1">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="fas fa-3x fa-microchip"></i>
                                        </div>
                                        <div class="col-8">
                                            <p class="m-0">Hardware</p>
                                            <p class="m-0"><%=result[0]['data'][4]['Platform'][1]['Chipset'].split(" (")[0]%> <%=result[0]['data'][4]['Platform'][2]['CPU'].split(" (")[0]%> <%=result[0]['data'][5]['Memory'][1]['Internal'].split(",")[0]%></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="border my-3 rounded px-3 py-1">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="fas fa-3x fa-battery-full"></i>
                                        </div>
                                        <div class="col-8">
                                            <p class="m-0">Battery</p>
                                            <p class="m-0"><%=result[0]['data'][11]['Battery'][0]['Type'].split(",")[0]%></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="border my-3 rounded px-3 py-1">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="fas fa-3x fa-code"></i>
                                        </div>
                                        <div class="col-8">
                                            <p class="m-0">OS</p>
                                            <p class="m-0"><%=result[0]['data'][4]['Platform'][0]['OS'].split(",")[0]%></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="m-auto">
                                <div class="row">
                                    <div class="col-3 py-3">
                                        <div class="bg-dark p-3 rounded">
                                            <p class="text-white">Camera <span class="float-right">9/10</span></p>
                                            <div class="clearfix"></div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 py-3">
                                        <div class="bg-dark p-3 rounded">
                                            <p class="text-white">Camera <span class="float-right">9/10</span></p>
                                            <div class="clearfix"></div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 py-3">
                                        <div class="bg-dark p-3 rounded">
                                            <p class="text-white">Camera <span class="float-right">9/10</span></p>
                                            <div class="clearfix"></div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 py-3">
                                        <div class="bg-dark p-3 rounded">
                                            <p class="text-white">Camera <span class="float-right">9/10</span></p>
                                            <div class="clearfix"></div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 py-3">
                                        <div class="bg-dark p-3 rounded">
                                            <p class="text-white">Camera <span class="float-right">9/10</span></p>
                                            <div class="clearfix"></div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 py-3">
                                        <div class="bg-dark p-3 rounded">
                                            <p class="text-white">Camera <span class="float-right">9/10</span></p>
                                            <div class="clearfix"></div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 py-3">
                                        <div class="bg-dark p-3 rounded">
                                            <p class="text-white">Camera <span class="float-right">9/10</span></p>
                                            <div class="clearfix"></div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 py-3">
                                        <div class="bg-dark p-3 rounded">
                                            <p class="text-white">Camera <span class="float-right">9/10</span></p>
                                            <div class="clearfix"></div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="">
                    <div class="d-flex">
                        <img class="img-fluid px-1 proimg" src="images/man2.jpg" id="proimg1" alt="">
                        <img class="img-fluid px-1 proimg" src="images/man4.jpg" id="proimg2" alt="">
                        <img class="img-fluid px-1 proimg" src="images/man6.jpg" id="proimg3" alt="">
                        <img class="img-fluid px-1 proimg" src="images/man8.jpg" id="proimg4" alt="">
                    </div>
                    <!-- <button class="btn btn-dark w-100 mt-3">Add to Cart</button>
                    <button class="btn btn-outline-dark w-100 my-3">Add to Wishlist</button> -->
                    <% for( let i = 0; i < result[0].data.length; i++ ) { %>
                        <hr class="m-0">
                        <div class="">
                            <div class="px-4 rounded d-flex prodrop text-white bg-dark py-3">
                                <h5 class="mb-0"><%=Object.keys(result[0].data[i])[0]%></h5>
                                <i class="fas fa-angle-down ml-auto"></i>
                            </div>
                            <ul class="prolist list-group">
                                <% for( let j = 0; j < result[0].data[i][Object.keys(result[0].data[i])[0]].length; j++ ) { %>
                                    <% if (Object.keys(result[0].data[i][Object.keys(result[0].data[i])[0]][j])[0] != "") { %>
                                        <li class="list-group-item"><spam class="proTitle"><spam class="text-danger"><%= Object.keys(result[0].data[i][Object.keys(result[0].data[i])[0]][j])[0] %></spam>  :  <%=result[0].data[i][Object.keys(result[0].data[i])[0]][j][Object.keys(result[0].data[i][Object.keys(result[0].data[i])[0]][j])[0]]%></spam></li>
                                    <% } %>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="">
            <p class="heading">Reivews</p>
            <div class="">
                <div class="row">
                    <div class="col-lg-1">
                        <div class="text-white px-2 py-2 m-auto commentlogo text-center fa-2x rounded-circle bg-dark">M</div>
                    </div>
                    <div class="col-lg-10">
                        <p>Michel Scott</p>
                        <div class="">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star specialstar"></i>
                            . a month ago
                        </div>
                        <p>I fell in love with the Trina dress as soon as I saw it being unpacked in the store! It fitted perfectly so I purchased it immediately and wore it the following night. It is a beautifully made dress and I love wearing it!</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="">
                <div class="row">
                    <div class="col-lg-1">
                        <div class="text-white px-2 py-2 m-auto commentlogo text-center fa-2x rounded-circle bg-dark">M</div>
                    </div>
                    <div class="col-lg-10">
                        <p>Michel Scott</p>
                        <div class="">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star specialstar"></i>
                            . a month ago
                        </div>
                        <p>I fell in love with the Trina dress as soon as I saw it being unpacked in the store! It fitted perfectly so I purchased it immediately and wore it the following night. It is a beautifully made dress and I love wearing it!</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="">
                <div class="row">
                    <div class="col-lg-1">
                        <div class="text-white px-2 py-2 m-auto commentlogo text-center fa-2x rounded-circle bg-dark">M</div>
                    </div>
                    <div class="col-lg-10">
                        <p>Michel Scott</p>
                        <div class="">
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star specialstar"></i>
                            . a month ago
                        </div>
                        <p>I fell in love with the Trina dress as soon as I saw it being unpacked in the store! It fitted perfectly so I purchased it immediately and wore it the following night. It is a beautifully made dress and I love wearing it!</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>
<!--porducts-->
<%- include('end.ejs')%>
